@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__align {
    color: #fff;
    background-color: #5c39b9;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 5px;
    border-radius: 21%;
  }

  .page__align {
    color: #fff;

    background-color: #00f;
    position: relative;
    top: 48px;
    padding: 50px;
    border: 1px solid #ffffff;
    text-align: center;
    font-weight: bold;
  }
}
